<div>
    {{#if user}}
        Hello, {{ user.givenName }}
    {{/if}}


    {{#if user }}
        <a role="logout" href="/logout">{{ texts.LOGOUT }}</a>
    {{else}}
        <a role="login" href="/login">{{ texts.LOGIN }}</a>
    {{/if}}

{{!--
    Choose your language:
    <select role="lang-select">
        <option value="">----</option>
        {{#each site.locales }}
            <option {{#ifval ../lang value=this }}selected{{/ifval}} data-link="?clang={{this}}" value="{{ this }}">{{prop ../texts this }}</option>
        {{/each}}
    </select>
 --}}
</div>
